.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  margin: 0;
  padding: 0; 
}

.NavBarCss button:focus {
  outline: transparent;
}

.NavBarCss {
  background-color: rgb(202, 221, 220);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid rgb(255, 255, 255);
}

h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 0;
  display: flex;
  align-items: center; 
}

.logologo img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.NavBarCss button {
  background: rgb(19, 19, 29);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  
}
