.App {
  text-align: center;
  padding-bottom: 60px;
  background-color: rgb(179, 179, 180);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  margin: 0;
  padding: 0; 
}

.NavBarCss a {
  text-decoration: none;
  color: inherit; 
}

.NavBarCss a:focus,
.NavBarCss a:active {
  outline: none; 
}

.NavBarCss {
  background-color: #333;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 0;
  display: flex;
  align-items: center; 
}

.logologo img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.NavBarCss button {
  background-color: #444; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  margin: 5px;
  
}
.NavBarCss button:hover {
  background-color: #666;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  z-index: 100;
}

.footer ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.footer ul li {
  display: inline; 
  margin-right: 20px;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: rgb(179, 179, 180)
}

.footer a {
  text-decoration: none; 
  color: white; 
}

.footer a:focus,
.footer a:active {
  outline: none; 
}

.footer button {
  background-color: #444; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  margin: 5px; 
}

.footer button:hover {
  background-color: #666;
}

